@model UserViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>User Details</h1>

<br />


<div>

    <partial name="PartialViews/DeleteDetailsUserPartialView" model="Model" />

    <a  asp-controller="User" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning"> Edit</a>
    <a asp-action="Index" class=" btn btn-light">Back To List</a>

</div>

