@model RoleViewModel
@{
    ViewData["Title"] = "Delete";
}

<h1 style="text-align:center;">Delete Of Role</h1>

<br />
<form asp-action="Delete" enctype="multipart/form-data">

    <partial name="PartialViews/DeleteDetailsRolePartialView" model="Model" />
    @* <input hidden asp-for="ImageName" /> *@
    <br />

    <input type="submit" value="Delete" class=" btn btn-danger" />
    <a asp-action="Index" class=" btn btn-light" style="margin-left: 10px;">Back To List</a>

</form>
