@model RoleViewModel
@{
    ViewData["Title"] = "Details";
}

<h1 style="text-align:center;">  Details Of Roles</h1>

<br />


<div>

    <partial name="PartialViews/DeleteDetailsRolePartialView" model="Model" /> <br />

    <a   asp-action="Edit" asp-route-Id="@Model.Id" class="btn btn-warning"> Edit</a>
    <a asp-action="Index" class=" btn btn-light" style="margin-left: 10px;">Back To List</a>

</div>

