
@{
    ViewData["Title"] = "CheckYourInBox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>CheckYourInBox</h1>

<div class="main-agileinfo">
	<div asp-validation-summary="All"></div>
	<div class="agileits-top">

		<div>
			<p>reset Password Link Has been Send To Your Email , Check Your Inbox </p>
		</div>
		<div>
			<a href="https://mail.google.com">Go to Gmail </a>
		</div>
	</div>
</div>

